body {
  margin: 0;
  font-family: 'Inria Serif', serif;
}

a {
  text-decoration: none;
  color: inherit;
}

footer {
  padding: 23px;
  background: #f8f8f8;
  text-align: center;
  position: relative;
}

footer .footer-image {
  position: absolute;
  bottom: 10px;
  left: 15px;
  height: 50px;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
}
